#headerImage{
    width: 100%;
    height: 12rem;
}
body{
    /* background-color: #5483ad ; */
}


@media only screen and (max-width: 720px){
    #imagemCarrossel{
        height: 20em;
    }

    #headerImage{
        height: 7em!important;
    }
}