

/* css do projeto */
/*body {
  background-color: #4f93c7;
}*/

body {
  background-color:#5483ad;
}


.cab-logo {
  padding: 10px 100px;
  box-sizing: border-box;
  background-color: #FFFFFF;

}


.nav-item {
   font-style: italic;
   text-transform: uppercase;
}

.estilo-letra-agendamento {
  font-family: 'Grenze Gotisch', cursive;
}

/*
a:hover {
   background-color: rgb(176,224,230);
   
}  
*/
.seção-fotos{
	background-image: linear-gradient(blue,white);
}

.card {
	width: 15em;
}


.card-body {
	padding: 0.5em;
}

footer {
	color: #aaa; background-color: #CDC9C9;

}

.estilo-rodape {
 font-family: 'Rowdies', cursive;
}

.scrollspySite {
	position: relative;
	overflow: auto;
	height: 380px;

}

/*body {
    background-color:#969fab;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  }*/

 .container-imagens {
    width:700px;
    margin:30px auto 0;

 }
 
   
#content {
   background:#848c9c;
   padding-top:30px;
   padding-bottom:30px;
   overflow:hidden;

  
 }

.gallery {
    width:528px;
    margin:auto;
 }
 
.gallery ul {
     list-style: none;
 }
 
 .gallery li {
     float:left;
     margin:10px;
 }

.gallery img {
     display:block;
     padding:5px;
     background:#42517f;
     border: 1px solid #99adeb;
}

.gallery img:hover {
    border: 1px solid #fff;
}

.cabecalho-do-album{
	  background:#42517f;
    border-bottom: 1px solid #000;
}

.secao-introducao{
   background:#ffffff;
   padding-top:50px;
   padding-left:20px;
   padding-right:20px; 
   padding-bottom:30px;
   overflow:hidden;
   margin-bottom:20px;


   

}

/*codigo para mudar a bara de naveção do boostrap */

/*.bg-verde {
  background-color: #DB7093;
}*/ 

.nav-estilo{
  z-index:999;
  text-transform: uppercase;
  font-weight: bold;
  background-color:#ffffff!important;

}

nav ul li a:hover,
nav ul li a.active
{
   background:#FFC125;

}



.container-imagens{
  
  padding-top:50px;
  padding-left:20px;
  padding-right:20px; 
  padding-bottom:30px;
  overflow:hidden;
  margin-bottom:20px;
  

}



.shadow-efeito {
    box-shadow: 5px 10px 10px #000;
}

.inner{
  overflow: hidden;

}

.inner img{
   transition: all 1.5s ease;
}

.inner:hover img{
     transform: scale(1.1);
}

a:link{
 text-decoration:none;

}

ul { 
  list-style-type:none;
  float:right;

}

aside a {
   padding-bottom: 10px;
}
