header{
    display:flex;
    width: 100%;
}

#headerImage{
    margin: 2% 0 0 2%;
    width: 20%;
    height: 12rem;
    padding: 0.5%;
}

.title{
    right: 0;
    position: absolute;
    margin: 4% 10% 0 0;
    justify-content: center;
    align-items: center;
}

.title h1, .title h5{
    letter-spacing: 0.4em;
}

.title h6{
    letter-spacing: 0.2em;
}

@media only screen and (max-width: 720px){
    #headerImage{
        height: 5em!important;
        margin: 4% 0 0 4%;
    }
    .title{
        margin: 5% 6% 0 0;
    }
    .title h1{
        font-size: 14pt;
        line-height: 13pt;
    }
    .title h5{
        font-size: 7pt;
        line-height: 7pt;
    }
    .title h6{
        font-size: 7pt;
    }
}