header{
    display:flex;
    width: 100%;
}

#logoImage{
    margin: 1% 0 0 5%;
    width: 12vw;
    height: 12vw;
    padding: 0.5%;
}

.title{
    right: 10vw;
    position: absolute;
    margin: 2vw 5vw 0 0;
    justify-content: center;
    align-items: center;
}

.title h1{
    font-size: 4vw;
    font-weight: bold;    
}

.title h5{
    font-size:2.2vw;
    font-weight: bold;
}

.title h6{
    font-size: 2vw;
    line-height: 2vh;
}

@media only screen and (max-width: 720px){
    header{
        height: 13vh;
    }
    #headerImage{
        height: 15vw!important;
        width: 20vw;
        margin: 4% 0 0 4%;
    }
    .title{
        margin: 5% 6% 0 0;
    }
    .title h1{
        font-size: 5vw;
        line-height: 3vw;
    }
    .title h5{
        font-size: 3vw;
    }
    .title h6{
        font-size: 3vw;
    }
}