.principal-image{
    margin-left: -1%;
    width: 100vw;
    height: 45vw;
}

#history{
    margin: 10vw 0;
    color: white;
    background-image: linear-gradient(to right, #007294 50%, #34a7ca);
    display: inline-flex;
    align-items: center;
    margin: 0 0 2% 0;
    display: flex;
}

#content{
    left: 10vw;
    margin: 3%;

}

#centro-historico{
    margin: 2vw;
    width: 100%; 
}
