body , html{
    height: 100%;
}

#imagemCarrossel{
    width: 100%;
    height: 550px;
}

@media only screen and (max-width: 720px){
    #imagemCarrossel{
        height: 18em!important;
    }
}

#leftColumn{
    margin-bottom: 1%;
    background-color: orange;
    left: -3%;
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(-10deg);
}


#content{
    margin: 3%;
    justify-content: right;
}

.anime {
	opacity: 0;
	transform: translateX(-200px);
	transition: 3s;
}

.anime-start {
	opacity: 1;
	transform: translateX(0);
}