body , html{
    height: 100%;
}

#imagemCarrossel{
    width: 100%;
    height: 550px;
}

@media only screen and (max-width: 720px){
    #imagemCarrossel{
        height: 18em!important;
    }
}

#history{
    margin: 4% 0 2% 0;
}

#content{
    margin: 3%;
}


/* efeitos das divs */
#leftColumn{
    background-color: orange;
    left: -4%;
}

[data-anime]{
    opacity: 0;
    transition: 2s;
    transform: translateX(0);
    
}
[data-anime="left"]{
    opacity: 0;
    transform: translate3d(500px,0,0);
}
[data-anime="right"]{
    opacity: 0;
    transform: translate3d(-500px,0,0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
}

section[data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
    transform: skewX(-10deg)  rotate(-2deg);
}
/* fim dos efeitos */

#images{
    background: #5483ad;
    height: 200px;
    left: 0;
    right: 0;
    margin: 0;
}